div{
        margin: auto;
        width: 50%;
        border: 3px solid rgb(19, 5, 70);
        padding: 20px;
        height: 20%;
      }
p{
    color:rgb(61, 16, 112);
    font-family: cursive;
    font-weight: 50px;
    text-align: center;
}
h3
{
    text-align: center;
}
img{
    position: absolute;
    width:100px;
    height:100px;
    justify-content: center;
    margin-top: 2px;;
}